<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro Banco Itaú</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="controller.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body style="background: rgb(236,112,0);
background: linear-gradient(90deg, rgba(236,112,0,1) 0%, rgba(255,147,49,1) 100%)">
<div class="container d-flex justify-content-center">
<div class="mx-2">
<img src="https://logospng.org/download/itau/logo-itau-256.png" width="40">
<b>Cadastro Banco Itaú</b>
 <hr>


<div ng-app="myApp" ng-controller="myCtrl" class="mb-2 ">
<form>
	Nome <p><input type="text" size="50" ng-model="nome" placeholder="Insira seu nome completo" required></p>
	CPF <p><input type="text" size="15" ng-model="cpf" placeholder="Ex: 11122233344" required></p>
	Email <p><input type="text" size="25" ng-model="email" placeholder="Ex: example@example.com" required></p>
	Senha <p><input type="text" size="10" ng-model="senha"required></p>
	
	
	
	<button ng-click="salvar()">Cadastrar</button>
</form>
</div>
</div>
</div>
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>